# Node
node_modules/
pnpm-lock.yaml

# Env
.env
.env.*

# Editor
.cursor/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs / cache
*.log
.cache/

# Noir build artifacts
circuits/target/
circuits/Prover.toml
circuits/Verifier.toml
circuits/*.json

# TypeScript build
scripts/dist/
